span.a {
	text-decoration: underline;
}
span.b {
	display: inline-block;
	background-color: yellow;
}
div.relative {
  position: relative;
  left: 50px;
}
.centerb {
	text-align: center;
	border: 1px;
	border-style: solid;
	border-color: red;
	color: red;
	margin: auto;
}
table {
	margin-top: 15px;
}
th {
	border: 1px;
	border-style: solid;
	border-color: grey;
}
td {
	border: 1px;
	border-style: solid;
	border-color: grey;
}
img {
		width: 50%;
		height: 50%;
		border:  8px;
		border-style: solid;
		border-color: darkorange;
}
.center {
	text-align: center;
	margin: auto;
}